services:
  microhome.apigateway:
    image: ${DOCKER_REGISTRY-}microhomeapigateway
    build:
      context: .
      dockerfile: MicroHome.ApiGateway/Dockerfile

  microhome.catalogo.api:
    image: ${DOCKER_REGISTRY-}microhomecatalogoapi
    environment:
      - ConnectionStrings__DefaultConnection=Server=192.168.0.30;Database=MicroHomeDB;User Id=sa;Password=papKe560#;TrustServerCertificate=True;
    build:
      context: .
      dockerfile: MicroHome.Catalogo.API/Dockerfile


  microhome.pedidos.api:
    image: ${DOCKER_REGISTRY-}microhomepedidosapi
    environment:
      - ConnectionStrings__DefaultConnection=Server=192.168.0.30;Database=MicroHomeDB;User Id=sa;Password=papKe560#;TrustServerCertificate=True;
    build:
      context: .
      dockerfile: MicroHome.Pedidos.API/Dockerfile